.App {

  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

body{
 background-color: #F2DEBA;
	height: 100%;
}

.Menu {
  width: 1000px;
  height: 300px;
  border-radius: 40px;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;

  border-radius: 20px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;




}


.Menu button{
	background:rgb(248, 247, 244);
}

button:hover {
  cursor: pointer;


}

button:focus {
	background-color:#3A8891;
}

button {

	background:rgb(250, 250, 248);
}

.App img{

  height:130px;
  width: 130px;
padding-bottom: 20px;

}
.Test {
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.Menu, .Test, .EndScreen h1{

  font-size: 11px;
}

.Test h1{
  color:rgb(78, 76, 76);
}

.EndScreen {
  width:1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}

.Test button{
	width: 700px;
}
